<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.sharedchores">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.ui.MainActivity" />
        </activity>

        <activity android:name=".ui.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.ui.MainActivity" />
        </activity>

        <activity android:name=".ui.AddPeopleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.ui.CreateGroupActivity" />
        </activity>

        <activity android:name=".ui.CreateGroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.ui.UserChoreListActivity" />
        </activity>

        <activity android:name=".ui.AssignChoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.ui.AddPeopleActivity" />
        </activity>

        <activity android:name=".ui.UserChoreDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.ui.UserChoreListActivity" />
        </activity>

        <activity android:name=".ui.api.CleaningServicesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.ui.UserChoreListActivity" />
        </activity>

        <activity android:name=".ui.api.CleaningServiceDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.ui.UserChoreListActivity" />
        </activity>

        <activity android:name=".ui.SuccessPageActivity"></activity>
        <activity android:name=".ui.UserChoreListActivity"></activity>
        <activity android:name="com.epicodus.sharedchores.ui.WelcomePageActivity"></activity>
    </application>

</manifest>