<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.sharedchores">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.MainActivity" />
        </activity>
        <activity android:name=".UserPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.MainActivity" />
        </activity>
        <activity android:name=".SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.MainActivity" />
        </activity>
        <activity android:name=".WelcomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.MainActivity" />
        </activity>
        <activity android:name=".AddFriendsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.sharedchores.UserPageActivity" />
        </activity>

<!--LOG IN WITH FACEBOOK-->
        <uses-permission android:name="android.permission.INTERNET"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
 <!--LOG IN WITH FACEBOOK END-->
    </application>

</manifest><!--
android:label=" "
    took app name out because I do not like the default font and I do not know how to change it yet
-->
